<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p th:text="'Hello, ' + ${studentName} + '!'" />
	<p th:text="'ID='+${studentId}"/>
	<p th:text="'Email='+${studentEmail}"/>
	<p th:text="'Phone='+${studentPhone}"/>
	<p th:text="'CreatorName='+${studentCreator}"/>
	<p th:text="'UpdaterName='+${studentUpdater}"/>
	<p th:text="'CreationDate='+${studentCreationDate}"/>
	<p th:text="'UpdateDate='+${studentUpdationDate}"/>
</body>
</html>